*{
    font-family: Arial, Helvetica, sans-serif;
}

Form {
    min-height: 420px;
    max-width: 400px;
    width: 100%;
}

.primary-color{
    color:#A28DE9;
}

#button-ctm{
    background-color: #A28DE9;
    border:none;
    width:150px;
}

#border-size {
    border-width: 5px !important;
}

.background {
    background: linear-gradient(hsl(254, 68%, 73%), hsl(254, 68%, 83%));
    color: rgba(116, 115, 115, 0.6);
}

.background-form {
    background: hsl(0, 0%, 95%);
    width:500px;
}

#text-color-white {
    background-color: #A28DE9;
    color: white;
}

.valid {
    color: green;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.hide {
    display: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    margin-top: 10px;
}

.offscreen {
    position: absolute;
    /* to accessibility */
    left: -9999px;
}

.img-banner {
    background: linear-gradient(hsl(254, 68%, 73%), white);
    width: 100%;
}

.background-ctm{
    background-color: #A28DE9;
}

.img-banner img {
    height: 400px;
    object-fit: cover;
}

.card-list-loading {
    height: 400px;
}

.img-ctm{
    height:420px;
}

.img-product-ctm{
    height: 350px;
    width: 280px;
    object-fit: cover;
}

.comments-ctm{
    height: 200px;
}

.warn-ctm{
    height: 500px;
}

.text-search-ctm{
    width:80vw;
    height: 40px;
}