Form {
    min-height:400px;
    max-width:400px;
    width:100%;
}

#border-size {
    border-width: 5px !important;
}

.background{
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
}

.background-form{
    background:hsl(0, 0%, 95%);
}

#text-color-white{
    color:white;
}

.valid{
    color: green;
}
.invalid {
    color: red;
    margin-left: 0.25rem;
}
.hide{
    display: none;
}

.instructions{
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    margin-top:10px;
}

.offscreen{
    position: absolute;
    /* to accessibility */
    left: -9999px;
}

.card-ctm{
    width:200px;
    min-width: 200;
}

.card-img-ctm{
    height: 200px;
    object-fit:cover;
}

.card-body-ctm{
    height: 180px;
}
