.Nav-bg{
    background-color: #A28DE9;
}

.Nav-bg .navbar-brand,
.Nav-bg .nav-link,
.Nav-bg .nav-dropdown {
    color: white;
}

.Nav-bg .navbar-brand:hover,
.Nav-bg .nav-link:hover,
.Nav-bg .nav-dropdown:hover {
    color: hsl(0, 0%, 40%);
}

.Nav-bg-white{
    background-color: white;
}
.Nav-bg-white .navbar-brand,
.Nav-bg-white .nav-link,
.Nav-bg-white .nav-dropdown {
    color: hsl(0, 0%, 40%);
}
.Nav-bg-white .navbar-brand:hover,
.Nav-bg-white .nav-link:hover,
.Nav-bg-white .nav-dropdown:hover {
    color: hsl(0, 0%, 20%);
}

.card-ctm{
    width:200px;
    min-width: 200;
    border: 2px solid hsl(0, 0%, 70%) !important;
    /* box-shadow: 2px 2px 5px 2px hsl(0, 0%, 70%); */
    cursor: pointer;
}

.card-ctm:hover{
    /* box-shadow: 2px 2px 5px 2px #A28DE9; */
    border: 2px solid #A28DE9 !important;
}

.card-img-ctm{
    height: 200px;
    object-fit:cover;
}

.card-body-ctm{
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 180px;
}

.footer-ctm{
    background-color:#A28DE9;
    border:1px solid #A28DE9;
}

.footer-ctm-white{
    background-color: white;
    color: hsl(0, 0%, 40%);
}

p a{
    text-decoration:none;
}

.link-ctm{
    text-decoration:none;
}

.card-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom:10px;
    position:relative;
    height: 400px;
    white-space: nowrap;
}
.card-list::-webkit-scrollbar{
    display:none;
}

.card-wrapper .slide-button-ctm{
    color: hsl(0, 0%, 30%);
    font-size:35px;
    cursor: pointer;
    outline: none;
    position:absolute;
    top:60%;
    transform: translateY(-50%);
    z-index:10;
}
.card-wrapper .slide-button-ctm:hover{
    color: hsl(0, 0%, 20%);
}
.slide-button-ctm#prev-slide{
    left:20px;
}
.slide-button-ctm#next-slide{
    right:15px;
}

.card-wrapper {
    max-width: 100%;
    position: relative;
}
